import(DESeq2)
import(parallel)
import(MCMCpack)
import(gplots)
import(scran)
import(BiocParallel)
import(ggplot2)


export(cleanup.genes)
export(get.signature.genes)
export(run.Ted)
export(estimate_sf)
export(convert.cell.fraction)
#export(MAP_PhiEnv)
#export(plot.theta.distribution)
export(learn.embedding.withPhiTum)
export(learn.embedding.Kcls)
