import(snowfall)
import(DESeq2)
import(gplots)

export(cleanup.genes)
export(get.signature.genes)
export(run.Ted)
export(estimate_sf)
export(convert.cell.fraction)
#export(MAP_PhiEnv)
#export(plot.theta.distribution)
export(learn.embedding.withPhiTum)
export(learn.embedding.Kcls)
export(rdirichlet)
export(sample.n)
export(Rcgminu)
export(log.posterior.psi)
export(log.posterior.psi.grad)
