import(DESeq2)
import(parallel)
import(MCMCpack)
import(gplots)
import(scran)
import(BiocParallel)

export(cleanup.genes)
export(get.signature.genes)
export(run.Ted)
export(estimate_sf)
export(convert.cell.fraction)
export(learn.embedding.withPhiTum)
export(learn.embedding.Kcls)
